﻿@model Hafele_Onam.Models.Login

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

@if (ViewBag.message == "Success")
{
    <meta http-equiv="refresh" content="5; url=/Login/Logout?Usertype=SuperAdmin">
}

@using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post))
{
    <div class="right_col" role="main" style="min-height: 1602.99px;">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Change Password</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">

                                @if (ViewBag.message == "Success")
                                {
                                    <div id="idalertofsuccess" class="alert alert-success alert-dismissable" style="display: block">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>

                                        <span id="lblMsg">@ViewBag.message1</span>

                                    </div>
                                }
                                else if (ViewBag.message == "warning")
                                {
                                    <div id="idalertofwarning" class="alert alert-warning alert-dismissable" style="display: block">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>

                                        <span id="lblmsgwarning">@ViewBag.message1</span>
                                    </div>
                                }
                                else if (ViewBag.message == "fail")
                                {
                                    <div id="idalertofdanger" class="alert alert-danger alert-dismissable" style="display: block">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>

                                        <span id="lblerror">@ViewBag.message1</span>
                                    </div>
                                }
                                else
                                {
                                    <div id="idalertvalidation" class="alert alert-warning alert-dismissable" style="display: none">
                                        <a href="javascript:void();" class="close closeclienside">×</a>

                                        <span id="lblvalidationmsgwarning"></span>
                                    </div>
                                }


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Old Password <span class="required" style="color: red;">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @Html.TextBoxFor(x => x.OldPassword, new { type = "password", id = "txtold", @class = "form-control col-md-7 col-xs-12", autocomplete = "off" })
                                        <label id="lblold"></label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        New Password <span class="required" style="color: red;">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @Html.TextBoxFor(x => x.Password, new { type = "password", id = "txtnew", @class = "form-control col-md-7 col-xs-12", autocomplete = "off" })
                                        <label id="lblnew"></label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Confirm Password <span class="required" style="color: red;">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        @Html.TextBoxFor(x => x.ConfirmPassword, new { type = "password", id = "txtconfirm", @class = "form-control col-md-7 col-xs-12", autocomplete = "off" })
                                        <label id="lblconfirm"></label>
                                    </div>
                                </div>

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                                        <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success" onclick="javascript: return ChangePasswordValidation();" name="btnAction" />

                                        <input type="reset" value="Cancel" id="btnreset" class="btn btn-primary" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="@Url.Content("~/Content/Resource/Js/AdminUpdateprofile.js?version="+@DateTime.Now.Millisecond)"></script>
    <script>
        function AutoRedirectToLogin() {
            window.setTimeout(function () {
                window.location.href = '/Login/Logout?Usertype=Billing';
            }, 4000);
        }
    </script>

}
