* {margin:0;padding:0}
::-webkit-scrollbar{width:8px;background-color:#aaa}
::-webkit-scrollbar-thumb{background-color:#000;border-radius:5px}
::selection{background:#222;color:#fff}
::-moz-selection{background:#222;color:#fff}
img {border:0;outline:none}
body, html {scroll-behavior:smooth;min-height:100%}
body {font-family:'Poppins',sans-serif;font-size:16px;color:#222;line-height:1.8}
.font-medium {font-weight:500}

body:before {content:'';width:100%;height:100%;display:block;position:fixed;left:0;top:0;background:url(../images/onamBg.png) no-repeat center center fixed;background-size:contain;opacity:.05;z-index:0;pointer-events:none}

@font-face {font-family:'icomoon';src:url('../fonts/icomoon.eot?6cstrm');src:url('../fonts/icomoon.eot?6cstrm#iefix') format('embedded-opentype'),url('../fonts/icomoon.ttf?6cstrm') format('truetype'),url('../fonts/icomoon.woff?6cstrm') format('woff'),url('../fonts/icomoon.svg?6cstrm#icomoon') format('svg');font-weight:normal;font-style:normal;font-display:block}
.icon {font-family:'icomoon' !important;speak:never;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon.facebook:before {content:"\ea91"}
.icon.instagram:before {content:"\ea92"}
.icon.whatsapp:before {content: "\ea93"}
.icon.twitter:before {content:"\ea96"}
.icon.youtube:before {content:"\ea9d"}
.icon.linkedin:before {content:"\eac9"}

@media (min-width:1400px) {.container {max-width:1150px}}

section {position:relative}
.anchorTrigger {width:100%;position:absolute;top:-56px}

.wrapper {overflow:hidden;width:100%}

.bannerSection {width:100%;height:auto;min-height:400px;background:#ccc;position:relative;overflow:hidden}
.bannerSection .bannerImg {width:100%;height:auto;min-height:400px;object-fit:cover;object-position:center bottom}

.logoBox {position:absolute;top:50px;right:70px;display:none}

.timerSection {margin-top:-90px;position:relative}
.timerContainer {width:100%;max-width:450px}
.timerBadge {width:230px;height:30px;background:#f41147;font-size:14px;line-height:30px;margin-bottom:-15px;position:relative;z-index:2}
.timerClock {padding:30px 25px 20px;background:#383838;border-radius:25px;border:5px solid #fff;box-shadow:0 3px 10px rgba(0,0,0,.3)}
.timerCount {height:48px;font-size:40px;line-height:1.2;font-weight:500}
.timerPart {font-weight:300}
.timerBox .col:not(:first-child):before {content:':';position:absolute;left:-3px;font-size:36px;line-height:1.2}

.pageHeader {margin-top:50px;border-bottom:1px solid #eee}

.intructTitle {font-size:24px;font-weight:500;margin-bottom:10px}

.navingContainer {width:100%;height:54px}
.navig {width:auto;min-height:54px;background:#fff;padding:0;position:relative;top:0;transition:all .2s ease}
.navig.stick {width:100%;position:fixed;left:0;right:0;top:0;box-shadow:0 3px 5px rgba(0,0,0,.1);z-index:100}


.menu {margin:0;background:#fff}
.menu li {padding:0 10px}
.menu .nav-link {font-size:14px;line-height:1;color:#222;text-transform:uppercase;text-decoration:none;display:block;position:relative;padding:20px 3px}
.menu .nav-link:hover {color:#f41147}
.menu li .nav-link.active {color:#f41147;font-weight:500}
.menu li .nav-link:after {width:0%;height:4px;display:block;background:#f41147;content:'';position:absolute;bottom:0;left:0;right:0;margin:auto;transition:all .3s .4s ease}
.menu li .nav-link.active:after {width:100%}

.graySection {background:#f6f6f6}

.productTitle {background:transparent;position:relative}
/*.productTitle:after {content:'';width:0;height:0;border-top:10px solid #333;border-left:15px solid transparent;border-right:15px solid transparent;display:block;position:absolute;top:100%;left:0;right:0;margin:auto;z-index:99}*/
.prodHead {font-weight:500;font-size:36px;margin-bottom:5px;color:#333}
.prodofferTxt {font-size:18px;font-weight:700;color:#f41147}

.price:before {content:'\20B9'}
.strike {text-decoration:line-through}
.pinkBtn {width:200px;height:50px;line-height:50px;background:#f41147;border:0;color:#fff;font-size:14px;text-transform:uppercase;transition:all .3s ease}
.pinkBtn:hover {background:#ca0a28;color:#fff;text-decoration:none}

.prodHolder {border:1px solid #ddd;padding:15px;transition:all .5s ease;box-shadow:0 8px 20px rgba(0,0,0,.15);position:relative}
.prodHolder:hover {border:1px solid #aaa;box-shadow:0 10px 25px rgba(0,0,0,.35)}
.prodImgBox {width:100%;max-width:250px;margin:0 auto 15px}
.prodImgHolder {width:100%;height:auto;position:relative;padding-bottom:100%}
.prodImgHolder .prodImg {width:100%;height:100%;display:block;position:absolute;top:0;left:0;object-fit:contain;object-position:center center}
.prodName h2 {font-size:18px;font-weight:400;text-transform:uppercase;margin-bottom:20px}
.prodPrices {}
.prodOfferPrice {font-size:30px;font-weight:500;line-height:1.1;border-right:1px solid #c3c3c3}
.prodOfferPrice small {font-size:12px}
.prodRealPrice {font-size:14px;line-height:1.6;color:inherit}
.prodRealPrice .savePrice {color:#f41147;font-weight:500}
.prodVdBtn {font-size:14px;text-decoration:underline;color:#666;background:#fff;margin-bottom:15px;padding:0 10px;display:inline-block;transition:all .3s ease}
.prodVdBtn:hover {color:#fff;text-decoration:none;background:#333}
.prodVdBtn:after {content:'';display:block;position:absolute;bottom:0;left:0;right:0;top:0}


.comboItem {line-height:1.1;border:1px solid #ddd;color:#333;transition:all .3s ease;padding:5px 15px;margin:5px 15px;outline:none;box-shadow:none!important;min-width:160px}
.comboItem strong {font-weight:500}
.comboItem:hover {background:#666;color:#fff}
.comboItem:first-child {margin-left:0}
.comboItem:last-child {margin-right:0}

.compressWidth .comboItem {min-width:50px;padding:5px 14px;margin:5px 0px}

.discountBadge {width:120px;height:auto;position:absolute;top:-25px;left:-60px;color:#fff;font-size:18px;line-height:1.3;font-weight:700;text-align:center;padding:4px 0;box-shadow:0 2px 5px rgba(0,0,0,.3);z-index:2;transform-origin:100% 0%;transform:rotate(-45deg);clip-path:polygon(26% 0%, 74% 0%, 100% 100%, 0% 100%);background:rgb(244,17,71);background:-moz-linear-gradient(0deg, rgba(244,17,71,1) 0%, rgba(222,3,55,1) 100%);background:-webkit-linear-gradient(0deg, rgba(244,17,71,1) 0%, rgba(222,3,55,1) 100%);background:linear-gradient(0deg, rgba(244,17,71,1) 0%, rgba(222,3,55,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f41147",endColorstr="#de0337",GradientType=1);}
.discountBadge small {font-size:14px;display:inline!important}

@media (min-width:576px) {
.prodInfoBig .discountBadge {width:140px;top:-29px;left:-71px;font-size:22px;padding:5px 0}
}


.prodHolderBig {overflow:hidden}
.prodImgBoxBig {max-width:600px;margin:auto}
.prodImgBoxBig .prodImg {object-fit:contain;object-position:center}
.prodInfoBig {width:100%;background:#fff;border:1px solid #ddd;padding:80px;position:relative;box-shadow:0 5px 25px rgba(0,0,0,.2)}
.prodBrief {font-size:14px;position:relative}
.prodHolderBig .prodName h2 {font-size:24px}
.prodHolderBig .prodVdBtn {margin-left:-10px}
.prodHolderBig .prodVdBtn:hover {margin-left:0}

/*.swiper-slide .prodHolderBig {transform:scale(.6);transition:all 2.5s ease}
.swiper-slide.swiper-slide-active .prodHolderBig {transform:scale(1)}*/

.prodBox.selected {border:1px solid #f41147}
.prodselectBtn .noSelectTxt {}
.prodselectBtn .selectedTxt, .prodBox.selected .noSelectTxt {display:none}
.prodBox.selected .prodselectBtn .selectedTxt {display:block}
.prodselectBtn .selectedTxt img {width:16px;height:16px;margin-right:8px;margin-top:-3px}

.formSection {background:#666;position:relative;color:#fff}
.formSection:before {content:'';width:100%;height:100%;display:block;position:absolute;left:0;top:0;background:url(../images/onamBg.png) no-repeat center center fixed;background-size:contain;opacity:.05;z-index:0;pointer-events:none}
/*.formSection:before {content:'';width:100%;height:100%;display:block;position:absolute;background:rgba(255,255,255,.75)}*/

.formSide {border-right:1px solid #989898}
.contactForm {width:100%;max-width:400px}
.contactForm .form-control {height:50px;border-color:#999;color:#333}
.contactForm .fieldLabel {font-size:12px;color:#fff;background:#555;display:block;float:left;margin:0 0 -10px 10px;padding:0 10px;text-transform:uppercase;position:relative;z-index:1;box-shadow:0 2px 5px #666}
.contactForm .custom-control-label::before {position:absolute;top:.25rem;left:-1.5rem;display:block;width:18px;height:18px;pointer-events:none;content:"";background-color:#fff;border:1px solid #999}
.contactForm .custom-control-label::after {position:absolute;top:.25rem;left:-1.5rem;display:block;width:18px;height:18px;content:"";background:50%/50% 50% no-repeat}
.contactForm .custom-control-input:checked~.custom-control-label::before {color:#fff;border-color:#aaa;background-color:#f41147}

.ErrorValidation {font-size:13px;line-height:1.5;color:#ff0000;font-weight:700;display:none}
.custom-checkbox .ErrorValidation {position:absolute;top:-5px;left:20px;font-size:18px;font-weight:700}

.selectedSide {margin-left:70px}
.selectedList li {list-style:none;display:inline-block;padding:3px 3px 3px 10px;margin:0 5px 0 0;border:1px solid #999;background:#fff;font-size:14px;color:#333;overflow:hidden}
.selectedList button {border:0;background:#fff;line-height:20px;padding:0;margin:3px 0 3px 5px;font-size:18px;width:20px;height:20px}
.selectedList button:hover {background:#eee}

.totalPrices {font-size:30px;font-weight:700;line-height:1.4;color:#000;text-shadow:0 0 5px #fff}
.totalPrices small {font-size:12px}
.totalPrices > div:first-child:after {width:1px;height:100%;content:'';display:block;position:absolute;top:0;right:0;background:#333;transform:rotate(15deg)}

.offerlistBox {width:100%;height:100px;border-radius:25px;float:left;background:#fff;border:1px solid #aaa}
.offerlistselect {margin:10px 15px;overflow:auto;height:80px}
.offerlistselect .custom-control-input {width:18px;height:18px;padding-left:25px}

.popupSlider {width:100%;max-width:600px;margin:auto}
.popupSlider img {height:450px;object-fit:contain;object-position:center}
.psControls {width:30px;height:30px;border-radius:50%;background:#666;top:50%}
.pscIcon {width:10px;height:10px}

.popDetails {font-size:14px}
.popDetails h2 {font-size:24px;font-weight:400;text-transform:uppercase;margin-bottom:15px}
.popDetails ul {margin:0 0 30px;padding:0}
.popDetails ul li {list-style:none;padding-left:20px;margin-bottom:5px;position:relative}
.popDetails ul li:before {content:'-';font-size:14px;font-weight:500;line-height:1;color:#f41147;display:block;position:absolute;left:0;top:5px}

.gboBtn {width:100px;height:100px;background:#f41147;color:#fff;position:fixed;right:20px;bottom:10px;border-radius:50%;border:0;box-shadow:0 5px 10px rgba(0,0,0,.5);font-size:18px;font-weight:500;line-height:1.4;padding:10px;text-transform:uppercase;z-index:10;transition:all .3s ease}
.gboBtn small {font-size:11px}

.modal-open .gboBtn {bottom:-200px}

.acpopClose.close {position:absolute;top:0;right:0;width:30px;height:30px;z-index:10;background:#111;border-bottom-left-radius:5px}

.footer {background:#333;color:#ddd}

.bottomFoot {border-top:1px solid #666}
.socialBtns a {font-size:20px;color:#ddd;display:inline-block;margin:0 6px;text-decoration:none;transition:all .3s ease;width:22px;height:22px;line-height:1}
.socialBtns a:hover {color:#f41147}

.disclaimerList {margin:0;padding:0}

.thankyouPage {color:#222;background:url(../images/formBg.png) no-repeat center bottom fixed #acacac;background-size:cover;position:relative}
.thankyouPage:before {content:'';width:100%;height:100%;display:block;position:absolute;background:rgba(255,255,255,.85)}
.thankyouPage h2 {font-weight:700}
.thankyouPage p {font-size:18px}
.thankyouPage a:not(.pinkBtn) {color:inherit}
.thankyouPage .bannerBg {width:100%;height:auto;opacity:.08;position:absolute;filter:grayscale(100%);}

@media (max-width:1399.98px) {
.prodInfoBig {padding:60px}
}

@media (max-width:1199.98px) {
.menu .nav-link {font-size:12px}
.timerSection {margin-top:-80px}
.prodHolder {padding:15px  0}
.selectedSide {margin-left:30px}
}

@media (min-width:992px) {
.menu a {display:block!important}
}

@media (max-width:991.98px) {
.navingContainer {margin-bottom:10px}
.navig {width:400px;margin:0 auto;border:1px solid #eee;transition:all .5s ease;z-index:10}
.navig.stick {width:100%}
.navig.open {box-shadow:0 5px 10px rgba(0,0,0,.2)}

.menuBtn {width:100%;height:54px;border:0;background:transparent;position:absolute;top:0;right:0;font-size:12px;z-index:5}
.menuBtn:after {content:'\25BC';width:30px;height:30px;background:#eee;border-radius:50%;position:absolute;top:10px;right:10px;font-size:12px;line-height:30px}
.navig.open .menuBtn {width:54px}

.menu {margin:0;width:100%;height:100%;display:block;text-align:center;position:relative;z-index:1;transition:all .5s ease}
.menu li {padding:0;margin:0;display:block;width:100%}
.menu .nav-link {font-size:14px;line-height:1;color:#222;text-transform:uppercase;text-decoration:none;display:none;padding:20px 3px;width:100%}
.menu .nav-link:hover {color:#f41147}
.menu li .nav-link.active {display:block!important}
.menu li .nav-link:after {display:none}
.navig.open .menu .nav-link {display:block}

.prodInfoBig {padding:45px}

.timerSection {margin-top:-25px}
.selectedSide {margin-left:0}
.gboBtn {bottom:100px}
.formSide {border-right:0;border-top:1px solid #989898}
}

@media (min-width:768px) {
.disclaimerList li {list-style:none;margin:0 20px 15px 0;position:relative}
.disclaimerList li:not(:last-child):after {content:'|';padding-left:20px}
}

@media (max-width:767.98px) {
.largeSlider .slideBtn.swiper-button-next, .largeSlider .slideBtn.swiper-button-prev {top:25%}

.gboBtn {width:80px;height:80px;right:10px;bottom:10px;border-radius:50%;border:0;font-size:14px;font-weight:500;line-height:1.4;padding:10px;text-transform:uppercase;z-index:10}
.gboBtn small {font-size:8px}
.disclaimerList li {list-style:none;margin:0 0 15px 0;position:relative}
.disclaimerList li:before {content:'-';padding-right:10px}
}

@media (max-width:575.98px) {
.logoBox {position:absolute;top:30px;right:30px;width:100px}
.timerSection {}
.timerContainer {width:94%}
.timerClock {padding:30px 20px 20px;border-radius:20px;border:3px solid #fff;font-size:12px}
.timerCount {height:30px;font-size:30px;line-height:1.2;font-weight:500}
.timerBox .col:not(:first-child):before {font-size:25px}
.timerBox .col {padding-left:10px;padding-right:10px}

.navig {width:100%}
.intructTitle {font-size:18px}
.prodHead {font-size:30px}

.comboItem {padding:5px 10px;margin:5px;min-width:80px;font-size:15px}
.prodInfoBig {padding:45px 30px}
}

@media (min-width:992px) {	
.prodBigContainer {width:100%;max-width:none;padding:0}
.prodInfoBig {max-width:575px}
.selectedList {min-height:110px}
}

/*.tricolorBg:before {content:'';width:100%;height:100%;display:block;position:absolute;left:0;top:0;background:url(../images/tricolorBg.png) no-repeat right bottom;background-size:cover;opacity:.1}
.tricolorBg2:before {content:'';width:100%;height:100%;display:block;position:absolute;left:0;top:0;background:url(../images/tricolorBg2.png) no-repeat center center;background-size:cover;opacity:.5}

.orangeBg, .largeSlider .swiper-slide:nth-child(3n-2) {background:#ff8a16}
.greenBg, .largeSlider .swiper-slide:nth-child(3n-1) {background:#0ea000}
.violetBg, .largeSlider .swiper-slide:nth-child(3n) {background:#000080}*/

.bgBlack {background:#444;position:relative}
.bgBlack:before {content:'';width:100%;height:100%;display:block;position:absolute;left:0;top:0;background:url(../images/onamBg.png) no-repeat center center fixed;background-size:contain;opacity:.05;z-index:0;pointer-events:none}

.batchSlider {margin-right:-15px;margin-left:-15px;padding-left:15px;padding-right:15px}

.slideBtn {width:40px;height:40px;border-radius:50%;background:#333}
.slideBtn:after {font-size:14px;color:#fff}
.slideBtn:hover {background:#f41147}

.swiper-lazy {transition:opacity .5s ease}
.swiper-lazy[data-src] {opacity:0}
.swiper-lazy-preloader{--swiper-preloader-color:#ccc}

.swiperBtns {position:relative}
.swiperBtns .slideBtn.swiper-button-next {left:100%;right:auto}
.swiperBtns .slideBtn.swiper-button-prev {left:auto;right:100%}

@media (max-width:575.98px) {
.swiperBtns .slideBtn.swiper-button-next {left:auto;right:0}
.swiperBtns .slideBtn.swiper-button-prev {left:0;right:auto}
}

.bounceInUp, .largeSlider .prodImgBoxBig {-webkit-animation: movebounce 3.5s linear infinite;animation: movebounce 3.5s linear infinite}
@keyframes movebounce {
0%{transform: translateY(0px)} 50%{transform: translateY(-20px)} 100%{transform: translateY(0px)}
}

.swiper-cube-shadow {display:none}
